<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          package="" 
          android:versionCode="1" 
          android:versionName="1.0">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
  <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
  <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10"/>
  <application android:label="KSU Camera Client"
               android:icon="@drawable/icon"
               android:debuggable="false">
    <activity android:name="">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
  <supports-screens 
        android:smallScreens="true" 
        android:normalScreens="true" 
		android:largeScreens="true" 
        android:xlargeScreens="true" 
        android:anyDensity="true" 
     /> 
</manifest>